* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Arial", sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }

  .contact {
    background-color: #050606;
    color: white;
    padding: 50px 0;
    text-align: center;
  }

  .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .info-item {
    flex: 1;
    max-width: 300px;
    margin: 20px;
    text-align: center;
  }

  .info-item i {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .info-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .info-item p {
    font-size: 1rem;
    line-height: 1.5;
  }

  /* Message Us Section */
  .message-us {
    padding: 50px;
    text-align: left;
    background-color: #fff;
    color: #333;
  }

  .message-us h3 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .message-us p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .form-group input,
  .form-group textarea {
    padding: 10px;
    margin: 10px;
    flex: 1;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  textarea {
    flex: 1;
    min-height: 150px;
  }

  button {
    padding: 10px 20px;
    background-color: #020303;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    font-size: 1rem;
  }

  button:hover {
    background-color: #fafcfc;
    color: #020303;
  }