/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: #782c2c;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container {
    /* max-width: 1170px; */
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    padding: 8px 35px;
    background-color: transparent;
    border: 1.5px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #ffffff;
    color: #000000;
}
.heading-container {
    text-align: center;
    margin-bottom: 50px;
}

.heading-container h2 {
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.heading-container h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 55px;
    height: 5px;
    background-color: #ff2953;
    transform: translateX(-50%);
}
/* Header Styles */
.hero-area {
    height: 100vh;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.header-section {
    padding: 15px 0;
    margin: 0;
    padding: 10;
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
}

.navbar-collapse {
    display: flex;
    flex-grow: 1;
    align-items: center;
    
}

.navbar-brand {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-toggler-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/menu.png);
    background-size: contain;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link ,.register-btn a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 6px;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #ff2953;
    display: none;
}

.nav-link:hover::after,
.nav-link.active::after {
    display: block;
}

.register-btn {
    width: 100%;
    padding: 12px;
    background-color: #FF1313;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .register-btn:hover a,.register-btn:hover{
    color: #FF1313;
    background-color: #252233;
  }

/* Trainer Section Styles */
.trainer-section {
    background-image: url(../images/trainer-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding: 120px 0;
}

.trainer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trainer-container .box {
    width: calc(33.33% - 30px);
    text-align: center;
    margin-top: 55px;
}

.trainer-container .name h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.trainer-container .img-box {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
}

.trainer-container .img-box img {
    width: 100%;
    display: block;
}

.trainer-container .social-box {
    display: flex;
    justify-content: space-between;
    max-width: 225px;
    padding: 12px 45px;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 5px auto 0;
}

.trainer-container .social-box a {
    display: inline-block;
}

.trainer-container .social-box img {
    width: 24px;
    height: 24px;
}
/* Footer Section Styles */
.footer-section {
    background-color: #fbfdfd;
    padding: 20px;
    text-align: center;
}

.footer-section p {
    color: #292929;
    margin: 0;
    font-weight: 500;
}

.footer-section a {
    color: #292929;
}

/* Responsive Styles */
@media (max-width: 1120px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .hero-area {
        height: auto;
    }

    .slider-section {
        padding: 45px 0 75px;
    }

    .info-items {
        width: 100%;
    }

    .us-container .box,
    .trainer-container .box {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        /* display: none; */
        flex-direction: column;
        width: 100%;
    }
    .nav-item {
        margin: 10px 0;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        display: none;
        width: 100%;
        order: 3;
    }

    .navbar-collapse.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-section .form-container {
        padding: 45px 0;
    }

    .info-items {
        flex-direction: column;
        align-items: center;
    }

    .info-items .item {
        margin-bottom: 30px;
    }

    .contact-section .col-md-6 {
        width: 100%;
    }

    .contact-section .img-box {
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .slider-section .detail-box h1 {
        font-size: 3rem;
    }

    .us-container .box,
    .trainer-container .box {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .slider-section .detail-box h1 {
        font-size: 2.5rem;
    }
}