    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: black;
      font-family: sans-serif;
    }
    header {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
    }
    
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 50px;
    }
    .menu {
      display: flex;
      list-style: none;
    }
    
    .menu li {
      margin-left: 20px;
    }
    
    .menu li a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
    }
    .container {
      display: flex;
      width: 800px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .left-side {
      width: 50%;
      background-color: #2980b9;
      background-image: url(../images/sign.jpg);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 5px;
    }
    .right-side {
      width: 50%;
      padding: 40px;
    }
    h1 {
      font-size: 32px;
      margin-bottom: 20px;
    }
    .input-group {
      margin-bottom: 20px;
    }
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
    button {
      width: 100%;
      padding: 12px;
      background-color: #FF1313;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: #1A1C1B;
    }
    .or {
      text-align: center;
      margin: 20px 0;
    }
    a{
      color: #1A1C1B;
      font-size: small;
    }

    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        width: 100%;
        margin: 20px auto;
      }

      .left-side {
        width: 100%;
        height: 300px;
        border-radius: 5px 5px 0 0;
      }

      .right-side {
        width: 100%;
        padding: 20px;
      }
    }

    @media (max-width: 480px) {
      .container {
        margin: 10px auto;
      }

      .left-side {
        height: 150px;
      }

      .right-side {
        padding: 10px;
      }
    }